.addbookContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px 0;
}

/*Diseño de formulario para actualizar libros */
.formBook{
    display: flex;
    margin-bottom: 25px;
}

.formBook input{
    border: 1px solid var(--text-light);
    margin-bottom: 40px;
    width: 380px;
    padding: 14px;
    border-radius: 5px;
    font-size: 15px;
    outline-color: var(--bg-green);
}

.divOne, .divTwo{
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
}

.btnBack{
    align-self: flex-start;
    margin-left: 150px;
}

.title{
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 300;
}

/* Diseño de botones para regresar y actualizar */
.btnBack, .btnAdd{
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--bg-green);
    padding: 14px 20px;
    border-radius: 5px;
    color: var(--bg-white);
    font-size: 15px; 
}

.btnBack:hover, .btnAdd:hover{
    background-color: var(--bg-green-dark);
}



.iconArrow{
    margin-right: 10px;
}

.bottom{
    display: flex;
    justify-content: center;
}